.loader {
    max-width: 170px;
    height: 40px;
    padding: 5px;
    border: 4px solid fuchsia;
    background-color: lightpink;
    border-radius: 50px;
    overflow: hidden; /* Добавлено, чтобы скрыть анимацию за рамки .loader */
    animation: myLoading 1s cubic-bezier(0.260, 0.010, 0.055, 1.000) forwards;
    /* Анимация */

}

.line {
/*    background-color: fuchsia;
    border-radius: 50px;
    height: 40px;
    max-width: 170px !* Изменено, чтобы начальная ширина была 50% *!*/

}

@keyframes myLoading {
    0% {
        width: 0%; /* Изменено, чтобы начальная ширина была 0% */
    }
    100% {
        width: 100%;
    }
}